<header>
    <nav class="custom-nav">
        {{#if userId}}
        <a href="/user">Dashboard</a>
        <a href="/">Logout</a>
        {{else}}
        <a href="/">Welcome</a>
        <a href="/login/1">Login</a>
        {{/if}}
    </nav>
    <h1 id="main-h1">The Tech Blog</h1>
</header>
<main class="main-body">
    {{#each posts}}
        <section class="card">
            <a class="card-header" href="/post/{{id}}">
                <p class="post-title">{{title}}</p>
                <p class="post-info">{{user.username}} posted on {{createdAt}}</p>
            </a>
            <div class="card-body">{{text}}</div>
        </section>
    {{/each}}
</main>