<header>
    <nav class="custom-nav">
        {{#if userId}}
        <a href="/home">Home</a>
        <a href="/user">Dashboard</a>
        <a href="/">Logout</a>
        {{else}}
        <a href="/">Welcome</a>
        <a href="/home">Home</a>
        <a href="/login/1">Login</a>
        {{/if}}
    </nav>
    <h1 id="main-h1">The Tech Blog</h1>
</header>
<main class="main-body">
<section class="card">
    <div class="card-header">
        <p class="post-title">{{post.title}}</p>
        <p class="post-info">{{post.user.username}} posted on {{post.posted_on}}</p>
    </div>
    <div class="card-body">{{post.text}}</div>
    <div class="card-footer">
    </div>
</section>
{{#each post.comments as |comment|}}
{{> comment-details}}
{{/each}}
{{#if userId}}
<a class="comment-btn" href="/add-comment/{{post.id}}">Add Comment</a>
{{/if}}

</main>
